@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto&display=swap');

.App {
  /* display: flex;
  flex-direction: column; */
  width: 80vw;
  /* align-content: center; */
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  font-size: 18px;
  background-color: #1B1D1D;
}

.band-container {
  display: flex;
  gap: 30px;
  align-items: top;
  background-color: #FCF7F8;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.726);
}
.band-pic {
  max-width: 30vw;
  max-height: 30vw;
  border-radius: 8px;
}
.logo {
  max-width: 15vw;
  max-height: 5vw;
}

h1 {
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 50px;
  color: #48A9A6
  ;
}
h2 {
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 30px;
  color: white;
}
h3 {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 20px;

  padding-bottom: 25px;

  border-radius: 8px;
}
.search-bar button {
  font-size: 30px;
  padding: 5px;
  margin-left: 20px;
  border-radius: 8px;
}
.search-bar input {
  font-size: 30px;
  padding: 5px;
  border-radius: 8px;
  margin-left: 40px;
}


.random-band-display{
  margin-top: 50px;
}

.random-button-div{
  display: flex;
  justify-content: center;
 
}

.random-buttom
{
  width: 200px;
  font-size: 30px;
  padding: 5px;
  margin: 20px;
  border-radius: 8px;
}

